.icon-file-pdf:before {
    font-family: "FontAwesome";
    content: "\f1c1"; 
    font-size: 15px;
    top: 1px;
    left: -1px;
}

.icon-file-svg:before {
    font-family: "FontAwesome";
    content: "\f1c5";
    font-size: 15px;
    left: -2px;
    top: 1px;
    left: -1px;
}

.icon-file-text:before {
    font-family: "FontAwesome";
    content: "\f15c";
    font-size: 15px;
}